Chapter 2 [iloc, loc, ix]

In [36]:
#import pandas lib
import pandas as pd

In [37]:
#read csv file
ufo = pd.read_csv('http://bit.ly/uforeports')

In [38]:
#show head of data
ufo.head()

                   City Colors Reported Shape Reported State             Time
0                Ithaca             NaN       TRIANGLE    NY   6/1/1930 22:00
1           Willingboro             NaN          OTHER    NJ  6/30/1930 20:00
2               Holyoke             NaN           OVAL    CO  2/15/1931 14:00
3               Abilene             NaN           DISK    KS   6/1/1931 13:00
4  New York Worlds Fair             NaN          LIGHT    NY  4/18/1933 19:00

In [40]:
#check dimensions of data
# number of rows = 18241 and columns = 5
ufo.shape

(18241, 5)

In [42]:
#select row 0 up to 3 from column city
ufo.loc[0:3,'City']

0         Ithaca
1    Willingboro
2        Holyoke
3        Abilene
Name: City, dtype: object

In [43]:
#select row 0 up to 3 from column city
ufo.iloc[0:4,0]

0         Ithaca
1    Willingboro
2        Holyoke
3        Abilene
Name: City, dtype: object

In [44]:
#select row 0 up to 3 from column city
ufo.ix[0:3,'City']

0         Ithaca
1    Willingboro
2        Holyoke
3        Abilene
Name: City, dtype: object